# Environment & Secrets
.env
.env.*
!.env.example

# Build & Dependency Outputs
/build/
bin/
target/
/out/
.gradle/
*.class

# Package Files & Archives (Keep Gradle wrapper!)
*.jar
*.war
*.ear
*.db
!gradle/wrapper/gradle-wrapper.jar

# Documentation & Local Repos
doc/
repos/

# IDE: IntelliJ IDEA
.idea/
*.iml
*.iws
.idea_modules/

# IDE: Eclipse
.project
.classpath
.settings/
.metadata
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.pydevproject

# IDE: VSCode
.vscode/*
!.vscode/launch.json

# IDE: NVIM
Session.vim

# Temp & Cache Files
tmp/
*.tmp
*.bak
*.swp
local.properties
/src/main/resources/rebel.xml

# OS Specific
.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

# Miscellaneous Plugin Artifacts
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
browscap.csv
